<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments.html :: head"></head>

<body>
    <header th:replace="fragments.html :: header"></header>

    <main>
        <aside class="aside-dashboard">
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <h2>Admin Buttons</h2>
                <form th:action="@{/requests/admin/employee}" method="get">
                    <button class="reg-button-filled button-1">Manage Employee Accounts</button>
                </form>
            </div>


            <!-- <button class="reg-button-filled button-1">Check Rejected Requests</button>
            <button class="reg-button-filled button-1">Check Completed Requests</button> -->
            <h2>Admin Dashboard</h2>
            <div class="box-dashboard"><span class="number" th:text="${checking}">30</span><span class="text">For
                    Checking</span>
            </div>
            <div class="box-dashboard"><span class="number" th:text="${approval}">30</span><span class="text">For
                    Approval</span></div>
            <div class="box-dashboard"><span class="number" th:text="${printing}">30</span><span class="text">For
                    Printing</span></div>
            <div class="box-dashboard"><span class="number" th:text="${fincheck}">30</span><span class="text">For Final
                    Checking</span></div>
            <div class="box-dashboard"><span class="number" th:text="${pickup}">30</span><span class="text">For
                    Pickup</span></div>
            <div class="box-dashboard"><span class="number" th:text="${rejected}">30</span><span
                    class="text">Rejected</span></div>
        </aside>
        <section>
            <img class="icon-logo" th:src="@{/img/TUA-logo.png}">
            <div class="section-header">
                <h1>Student Request Management</h1>
                <span class="body-1">Check the pending requests and do necessary request management</span>
            </div>
            <div class="student-request">
                <div class="check-request">
                    <h2>Check a Request</h2>
                    <span class="body-1">To check a specific request please enter a specific student number</span>
                    <br><br>
                    <span class="h3">Student Number: </span>
                    <form th:action="@{/requests/admin/search}" method="post">
                        <input type="text" name="snumber" class="text-box body-1" placeholder="Student Number">
                        <button class="general-button button-1">Check a Request</button>
                    </form>
                    <h3><span th:text="${errorSnumber}"></span></h3>
                </div>
                <div class="manage-request" th:if="${noTable}">
                    <h2>Request Information</h2>
                    <!-- <span class="body-1">Latest Tranasctions</span><br><br> -->
                    <h3>Ongoing Transactions</h3>
                    <table>
                        <tr class="h3">
                            <th>Student Number</th>
                            <th>Document Request</th>
                            <th>Date Requested</th>
                            <th>Request Status</th>
                            <th>Document Action</th>
                        </tr>
                        <tr class="body-1" th:each="requests: ${requests}">
                            <td><span th:text="${requests.student_number}">202212345</span></td>
                            <td><span th:text="${requests.name}">TOR</span></td>
                            <td><span th:text="${requests.created_at}">12/12/2012</span></td>
                            <td><span th:text="${requests.status}">pending</span></td>
                            <td>
                                <form th:action="@{/requests/admin/check/} + ${requests.RID}" method="get">
                                    <button class="general-button button-1">Check</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="manage-request" th:unless="${noTable}">
                    <h2>Request Information</h2>
                    <span class="body-1">Double check all of the information through the table below</span><br><br>
                    <h3><span th:text="${snumber} +' - ' + ${fullname}"> 202212345 - Juan B. Dela Cruz
                        </span> </h3>
                    <table>
                        <tr class="h3">
                            <th>Document Request</th>
                            <th>Date Requested</th>
                            <th>Request Status</th>
                            <th>Check a Request</th>
                            <th>Edit a Request</th>
                        </tr>
                        <tr class="body-1" th:each="requests: ${requests}">
                            <td><span th:text="${requests.student_number}">202212345</span></td>
                            <td><span th:text="${requests.name}">TOR</span></td>
                            <td><span th:text="${requests.created_at}">12/12/2012</span></td>
                            <td><span th:text="${requests.status}">pending</span></td>
                            <td>
                                <form th:action="@{/requests/admin/check/} + ${requests.RID}" method="get">
                                    <button class="general-button button-1">Check</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- <div class="request-details" th:unless="${noTable}">
                    <form class="form-fields">
                        <div class="left">
                            <div>
                                <label class="body-1">Date Requested:</label>
                                <input type="date" class="text-box body-2">
                            </div>
                            <div>
                                <label class="body-1">Date Checked:</label>
                                <input type="date" class="text-box body-2">
                            </div>

                            <div>
                                <label class="body-1">Date of Received for Printing: </label>
                                <input type="date" class="text-box body-2">
                            </div>


                        </div>
                        <div class="right">
                            <div>
                                <label class="body-1">Due Date:</label>
                                <input type="date" class="text-box body-2">
                            </div>

                            <div><label class="body-1">Date Approved by Registrar:</label>
                                <input type="date" class="text-box body-2">
                            </div>

                            <div> <label class="body-1">Date Printed:</label>
                                <input type="date" class="text-box body-2">
                            </div>

                        </div>


                    </form>
                    <form class="form-buttons" th:action="@{/requests/admin/reports}" method="get">
                        <button class="general-button button-1">Print Request</button>
                        <button class="general-button button-1">Add</button>
                        <button class="general-button button-1">Save</button>
                        <button class="general-button button-1">Reports</button>
                    </form>
                </div> -->
            </div>

        </section>
    </main>

    <footer th:replace="fragments.html :: footer">
    </footer>
</body>

</html>