<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments.html :: head"></head>

<body>
    <header th:replace="fragments.html :: header"></header>

    <main>
        <aside class="aside-dashboard">
            <h2>Admin Buttons</h2>
            <form th:action="@{/requests/admin}" method="get">
                <button class="reg-button-filled button-1">Back to dashboard</button>
            </form>
        </aside>
        <section>
            <img class="icon-logo" th:src="@{/img/TUA-logo.png}">
            <div class="section-header">
                <h1>Employee Management</h1>
                <span class="body-1">Manage employee accounts</span>
            </div>
            <table>
                <tr class="h3">
                    <th>Employeed ID</th>
                    <th>Employee Number</th>
                    <th>Email Address</th>
                    <th>Full Name</th>
                    <th>Mobile Number</th>
                    <th>Action</th>
                </tr>
                <tr class="body-1" th:each="users: ${users}">
                    <td><span th:text="${users.UID}">202212345</span></td>
                    <td><span th:text="${users.student_number}">Unassigned</span></td>
                    <td><span th:text="${users.email}">TOR</span></td>
                    <td><span
                            th:text="${users.last_name} + ', ' + ${users.first_name} + ' ' + ${users.middle_name}  ">12/12/2012</span>
                    </td>
                    <td><span th:text="${users.mobile_number}">12/12/2012</span>
                    </td>
                    <td>
                        <form th:action="@{/requests/admin/employee/delete/} + ${users.UID}" method="post">
                            <button class="error-general-button button-1">Delete</button>
                        </form>
                    </td>
                </tr>
            </table>
            </div>

        </section>
    </main>

    <footer th:replace="fragments.html :: footer">
    </footer>
</body>

</html>