<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments.html :: head"></head>

<body>
  <header th:replace="fragments.html :: header"></header>

  <main>
    <section>
      <div class="container">
        <img class="icon-logo" src="img/TUA-logo.png">

        <div class="tab-pane active" id="dpn">

          <div class="time-label">
            <h1>Frequently Asked Questions</h1>
          </div>
          <div>
            <div class="timeline-item">
              <h3 class="timeline-header">Where can I request my academic records?</h3>
              <div class="timeline-body">
                <p>Students can request on site at Trinity University of Asia Registrar’s Office or go to their portal.
                </p>
              </div>
            </div>
          </div>



          <div>
            <div class="timeline-item">
              <h3 class="timeline-header">Can you request multiple copies of transcripts? </h3>
              <div class="timeline-body">
              </div>
            </div>
          </div>


          <div>
            <div class="timeline-item">
              <h5 class="timeline-header">From the Students?</h5>
              <div class="timeline-body">
                <p>Multiple copies of certain documents are allowed to be given at a maximum quantity of 3 pieces.

                </p>
              </div>
            </div>
          </div>




          <div>
            <div class="timeline-item">
              <h5 class="timeline-header">What happens if the requested documents are not claimed by the time it was
                scheduled?</h5>
              <div class="timeline-body">
                <p>Given that the registrar will set a day for the students to pick-up the documents, transcripts not
                  claimed within a year from its due date shall be discarded and its application shall be deemed null
                  and void.

                </p>
              </div>
            </div>
          </div>


          <div>
            <div class="timeline-item">
              <h5 class="timeline-header">What happens if I am missing a requirement or two?
              </h5>
              <div class="timeline-body">
                <p>In an event of insufficient document requirements shown by the student, the registrar would give a
                  remark on to which document is missing and are required to be pass by the student in order for the
                  transaction to take place. Students are given 1 week to comply and not doing so would terminate their
                  transaction.

                </p>
              </div>
            </div>
          </div>



          <div>
            <div class="timeline-item">
              <h5 class="timeline-header">In case of an emergency, can you let someone other than you to pick up your
                documents?</h5>
              <div class="timeline-body">
                <p>
                  Yes, your documents can be claimed by a representative provided that he has an authorization letter
                  from the student and his (representative) valid ID with photo.
                </p>
              </div>
            </div>
          </div>
        </div>
    </section>
  </main>

  <footer th:replace="fragments.html :: footer">
  </footer>
</body>

</html>