<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/components.css}" rel="stylesheet">
    <!-- <link th:href="@{/css/media-query.css}" rel="stylesheet"> -->
    <link rel="icon" th:href="@{/img/icon-tua.ico}">
    <title>Trinitian Portal</title>
</head>

<body>
    <header th:fragment="header">
        <div class="header-left">
            <h2>Trinity University of Asia</h2>
        </div>
        <div class="header-right">
            <form>
                <!-- remove this during spring boot migration-->
                <button class="reg-button button-1" sec:authorize="isAnonymous()" th:formaction=" @{/}">Sign In</button>
                <button class="reg-button-filled button-1" sec:authorize="isAnonymous()" th:formaction="@{/signup}">Sign
                    Up</button>
                <button class="reg-button button-1" sec:authorize="isAuthenticated" disabled> <span
                        th:text="${username}">Username</span> </button>
                <button class="reg-button-filled button-1" sec:authorize="isAuthenticated()"
                    th:formaction="@{/signout}">Sign Out</button>
            </form>
        </div>
    </header>
    <footer th:fragment="footer">
        <span class="body-1">Copyright © Trinity University of Asia. All rights reserved.</span>
    </footer>
</body>

</html>