<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments.html :: head"></head>

<body>
  <header th:replace="fragments.html :: header"></header>

  <main>
    <section>
      <div class="container">
        <img class="icon-logo" src="img/TUA-logo.png">

        <div class="tab-pane active" id="dpn">

          <div class="time-label">
            <h1>DATA PRIVACY NOTICE</h1>
          </div>
          <div>
            <div class="timeline-item">
              <h3 class="timeline-header">Policy</h3>
              <div class="timeline-body">
                <p>Trinity University of Asia is dedicated to preserve the privacy of the personal information of its
                  data subjects in compliance with the Data Privacy Act of 2012 (RA 10173), its corresponding
                  Implementing Rules and Regulations, and other relevant policies, including directives and issuances of
                  the National Privacy Commission. In compliance therewith, the foregoing Personal Data Privacy Notice
                  sets out the University’s personal information protection practices that are put in place in order to
                  protect the personal information of its data subjects.
                  Please note that the University may amend the foregoing Data Privacy Notice at any time without
                  personal prior notice, but notification of any such amendment will be posted on the University’s
                  website.
                </p>
              </div>
            </div>
          </div>



          <div>
            <div class="timeline-item">
              <h3 class="timeline-header">Why we collect personal information</h3>
              <div class="timeline-body">
              </div>
            </div>
          </div>


          <div>
            <div class="timeline-item">
              <h5 class="timeline-header">From the Students?</h5>
              <div class="timeline-body">
                <p>For processing of enrollment, grades, statement of account; postings in TUA student portal; display
                  of academic and non-academic achievements within the university premises and website; academic records
                  evaluation; library, community engagement, job referral, practicum, internship and medical and dental
                  reasons; monitoring and ensuring students’ safety within the University premises; marketing/promotion
                  of the University and other academic and non-academic student/school activities inside and outside the
                  University; application for graduation, transcript of records, diploma, certificate of honorable
                  dismissal, certificate of good moral character and other certifications being issued by the
                  University; yearbook and other school publications; verification of authentic records; and other
                  legitimate purposes of the University.
                </p>
              </div>
            </div>
          </div>




          <div>
            <div class="timeline-item">
              <h5 class="timeline-header">From the Employees?</h5>
              <div class="timeline-body">
                <p>For purposes of pre-employment, employment, administrative concerns, and benefits administration.
                </p>
              </div>
            </div>
          </div>


          <div>
            <div class="timeline-item">
              <h5 class="timeline-header">From the Participants and Resource Speakers of Conferences and Seminars? </h5>
              <div class="timeline-body">
                <p>For the purposes of issuing their participation certificates, background check, marketing/promotion,
                  processing of professional fee, networking, and other school related publications.
                </p>
              </div>
            </div>
          </div>



          <div>
            <div class="timeline-item">
              <h5 class="timeline-header">From the Alumni? </h5>
              <div class="timeline-body">
                <p>
                  For purposes of providing them job opportunities and in involving them with the different activities
                  of the University.
                </p>
              </div>
            </div>
          </div>






          <div>
            <div class="timeline-item">
              <h5 class="timeline-header">From the Visitors?</h5>
              <div class="timeline-body">
                <p>
                  For purposes of issuing them visitors pass and in contacting them later should a need warrants it so.
                </p>
              </div>
            </div>
          </div>




          <div>
            <div class="timeline-item">
              <h5 class="timeline-header">From the University House Tenants?</h5>
              <div class="timeline-body">
                <p>
                  For purposes of evaluating them to assure a safe and sound environment for the interest of other
                  tenants and to contact them or their parents/guardian in case of emergency or critical situations.
                </p>
              </div>
            </div>
          </div>


          <div>
            <div class="timeline-item">
              <h5 class="timeline-header">From the Suppliers?</h5>
              <div class="timeline-body">
                <p>
                  For purposes of canvassing/bidding of the supplies/equipment needs of the University, inventory
                  reordering, products return or after sales services.

                  The University will collect personal information directly from the data subjects whenever possible.
                </p>
              </div>
            </div>
          </div>




          <div>
            <div class="timeline-item">
              <h5 class="timeline-header">Storage, security and disposal of personal information</h5>
              <div class="timeline-body">
                <p>
                  The University holds personal information in both computer, and paper based records of its different
                  stakeholders. It takes all reasonable steps possible to ensure that your personal information it holds
                  is protected from misuse, loss, unauthorized access, disclosure or transfer. Only authorized TUA
                  personnel have access to this personal information, which will stay with the University for the
                  duration of time as it deemed appropriate, after which, physical records shall be disposed of through
                  shredding while digital files shall be deleted permanently except those that will be kept perpetually
                  as it is necessary in the course of its operation.
                </p>
              </div>
            </div>
          </div>



          <div>
            <div class="timeline-item">
              <h5 class="timeline-header">Use and disclosure of personal information</h5>
              <div class="timeline-body">
                <p>
                  The University will use or disclose your personal information only for purposes for which it was
                  collected, or unless it has your permission or is otherwise required by law. This means that the
                  University will not disclose any information it holds about you to anyone, unless those that are
                  exempted by laws, without your consent either in written, recorded voice or electronic form.
                </p>
              </div>
            </div>
          </div>




          <div>
            <div class="timeline-item">
              <h5 class="timeline-header">Data Transfer and Sharing</h5>
              <div class="timeline-body">
                <p>
                  Where TUA considers it necessary or appropriate for the purposes of data storage or processing or
                  providing any service or product on behalf of its data subjects, or for purposes of implementing
                  academic linkages programs or for any administrative or operational reasons pursuant to its mandate,
                  the University may transfer/share your personal information to third parties within or outside the
                  Philippines, under conditions of confidentiality and similar levels of security safeguards.
                </p>
              </div>
            </div>
          </div>



          <div>
            <div class="timeline-item">
              <h5 class="timeline-header">Access and Correction</h5>
              <div class="timeline-body">
                <p>
                  You have the right to access, review, correct, amend or delete any inaccuracies in your personal
                  information, as well as the right to request copies thereof.
                </p>
              </div>
            </div>
          </div>


          <div>
            <div class="timeline-item">
              <h5 class="timeline-header">Inquiries and Complaints</h5>
              <div class="timeline-body">
                <p>
                  You have the right to inquire for information regarding data privacy related issues or file a
                  complaint against any inaccurate, incomplete, false or unlawful processing of your personal data under
                  the custody of the University.
                </p>
              </div>
            </div>
          </div>


          <div>
            <div class="timeline-item">
              <h5 class="timeline-header"></h5>
              <div class="timeline-body">
                <p>
                  You may course through your inquiries, requests or complaints regarding data privacy related issues
                  through the University’s Data Protection Officer using the forms provided for the purpose. You may
                  contact Trinity University of Asia's Data Privacy Officer through dpo@tua.edu.ph.
                </p>
              </div>
            </div>
          </div>


          <div>
            <div class="timeline-item">
              <div class="timeline-body">
                <p>
                </p>
              </div>
              <h5 class="timeline-header">
                Mr. Randy D. Lagdaan <br>
                Data Privacy Officer
              </h5>

            </div>
          </div>


        </div>



      </div>
    </section>
  </main>

  <footer th:replace="fragments.html :: footer">
  </footer>
</body>

</html>