<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments.html :: head"></head>

<body>
    <header th:replace="fragments.html :: header"></header>

    <main>
        <section>
            <img class="icon-logo" th:src="@{/img/TUA-logo.png}">
            <div class="section-header">
                <h1>Confirm your Request</h1>
                <span class="body-1">Please double check your document request and enter the reference number of your
                    payment</span>
            </div>
            <h2>Request Receipt</h2>
            <ul class="body-1">
                <li th:each="document: ${document}"> <span th:text="${document.name} +' - '+${document.price}"></li>
            </ul>
            <h3>Total - P<span th:text="${total}"></span></h3>
            <div class="proof-of-payment">
                <h2>Proof of Payment</h2>
                <form method="post" th:action="@{/requests/student/new/submit}">
                    <input type="text" name="payment" class="text-box body-2" placeholder="Reference Number" required>
                    <div class="proof-buttons">
                        <button class="general-button button-1" th:unless="${noTID}">Submit</button>
                        <button class="general-button button-1" th:if="${noTID}"
                            th:formaction="@{'/requests/student/'+${TID}+'/submit'}">Submit</button>
                        <button class="error-general-button button-1" formmethod="get" th:formaction="@{/}"
                            formnovalidate>
                            Pay Later
                        </button>

                    </div>

                </form>
            </div>

        </section>
    </main>

    <footer th:replace="fragments.html :: footer">
    </footer>
</body>

</html>